.profile__name {
  margin: 0 0 6px;
  font-size: calc((100vw - 20rem) / (80 - 20) * (2.625 - 1.6875) + 1.6875rem);
  line-height: 1.14;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}