.popup__save-btn {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.popup__save-btn:hover {
  opacity: .8;
}